EARS_Service_Test/Service References/Service/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:22529/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:22529/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServices_CreateTestCycle_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateTestCycle" />
  </wsdl:message>
  <wsdl:message name="IServices_CreateTestCycle_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateTestCycleResponse" />
  </wsdl:message>
  <wsdl:message name="IServices_WriteTestResult_InputMessage">
    <wsdl:part name="parameters" element="tns:WriteTestResult" />
  </wsdl:message>
  <wsdl:message name="IServices_WriteTestResult_OutputMessage">
    <wsdl:part name="parameters" element="tns:WriteTestResultResponse" />
  </wsdl:message>
  <wsdl:portType name="IServices">
    <wsdl:operation name="CreateTestCycle">
      <wsdl:input wsaw:Action="http://tempuri.org/IServices/CreateTestCycle" message="tns:IServices_CreateTestCycle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServices/CreateTestCycleResponse" message="tns:IServices_CreateTestCycle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WriteTestResult">
      <wsdl:input wsaw:Action="http://tempuri.org/IServices/WriteTestResult" message="tns:IServices_WriteTestResult_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServices/WriteTestResultResponse" message="tns:IServices_WriteTestResult_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServices" type="tns:IServices">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateTestCycle">
      <soap:operation soapAction="http://tempuri.org/IServices/CreateTestCycle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WriteTestResult">
      <soap:operation soapAction="http://tempuri.org/IServices/WriteTestResult" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IServices" binding="tns:BasicHttpBinding_IServices">
      <soap:address location="http://localhost:22529/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>